html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

html
{
box-sizing:border-box
}
*,*:before,*:after
{
box-sizing:inherit
}

html
{
-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}
body
{
margin:0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section
{
display:block
}
summary
{
display:list-item
}

audio,canvas,progress,video
{
display:inline-block
}
progress
{
vertical-align:baseline
}

audio:not([controls])
{
display:none;height:0
}
[hidden],template
{
display:none
}

.CV-name{
	color:white;
}
a
{
background-color:transparent
}
a:active,a:hover
{
outline-width:0
}

abbr[title]
{
border-bottom:none;text-decoration:underline;text-decoration:underline dotted
}

b,strong
{
font-weight:bolder
}
dfn
{
font-style:italic
}
mark
{
background:#ff0;color:#000
}

small
{
font-size:80%
}
sub,sup
{
font-size:75%;line-height:0;position:relative;vertical-align:baseline
}

sub
{
bottom:-0.25em
}
sup
{
top:-0.5em
}
figure
{
margin:1em 40px
}
img
{
border-style:none
}

code,kbd,pre,samp
{
font-family:monospace,monospace;font-size:1em
}
hr
{
box-sizing:content-box;height:0;overflow:visible
}

button,input,select,textarea,optgroup
{
font:inherit;margin:0
}
optgroup
{
font-weight:bold
}

button,input
{
overflow:visible
}
button,select
{
text-transform:none
}

button,[type=button],[type=reset],[type=submit]
{
-webkit-appearance:button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner
{
border-style:none;padding:0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring
{
outline:1px dotted ButtonText
}

fieldset
{
border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em
}

legend
{
color:inherit;display:table;max-width:100%;padding:0;white-space:normal
}
textarea
{
overflow:auto
}

[type=checkbox],[type=radio]
{
padding:0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button
{
height:auto
}

[type=search]
{
-webkit-appearance:textfield;outline-offset:-2px
}

[type=search]::-webkit-search-decoration
{
-webkit-appearance:none
}

::-webkit-file-upload-button
{
-webkit-appearance:button;font:inherit
}

/* End extract */
html,body
{
font-family:Verdana,sans-serif;font-size:15px;line-height:1.5
}
html
{
overflow-x:hidden
}

h1
{
font-size:36px
}
h2
{
font-size:30px
}
h3
{
font-size:24px
}
h4
{
font-size:20px
}
h5
{
font-size:18px
}
h6
{
font-size:16px
}

.CV-serif
{
font-family:serif
}
.CV-sans-serif
{
font-family:sans-serif
}
.CV-cursive
{
font-family:cursive
}
.CV-monospace
{
font-family:monospace
}

h1,h2,h3,h4,h5,h6
{
font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0
}
.CV-wide
{
letter-spacing:4px
}

hr
{
border:0;border-top:1px solid #eee;margin:20px 0
}

.CV-image
{
max-width:100%;height:auto
}
img
{
vertical-align:middle
}
a
{
color:inherit
}

.CV-table,.CV-table-all
{
border-collapse:collapse;border-spacing:0;width:100%;display:table
}
.CV-table-all
{
border:1px solid #ccc
}

.CV-bordered tr,.CV-table-all tr
{
border-bottom:1px solid #ddd
}
.CV-striped tbody tr:nth-child(even)
{
background-color:#f1f1f1
}

.CV-table-all tr:nth-child(odd)
{
background-color:#fff
}
.CV-table-all tr:nth-child(even)
{
background-color:#f1f1f1
}

.CV-hoverable tbody tr:hover,.CV-ul.CV-hoverable li:hover
{
background-color:#ccc
}
.CV-centered tr th,.CV-centered tr td
{
text-align:center
}

.CV-table td,.CV-table th,.CV-table-all td,.CV-table-all th
{
padding:8px 8px;display:table-cell;text-align:left;vertical-align:top
}

.CV-table th:first-child,.CV-table td:first-child,.CV-table-all th:first-child,.CV-table-all td:first-child
{
padding-left:16px
}

.CV-btn,.CV-button
{
border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
}

.CV-btn:hover
{
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.CV-btn,.CV-button
{
-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none
}
   
.CV-disabled,.CV-btn:disabled,.CV-button:disabled
{
cursor:not-allowed;opacity:0.3
}
.CV-disabled *,:disabled *
{
pointer-events:none
}

.CV-btn.CV-disabled:hover,.CV-btn:disabled:hover
{
box-shadow:none
}

.CV-badge,.CV-tag
{
background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center
}
.CV-badge
{
border-radius:50%
}

.CV-ul
{
list-style-type:none;padding:0;margin:0
}
.CV-ul li
{
padding:8px 16px;border-bottom:1px solid #ddd
}
.CV-ul li:last-child
{
border-bottom:none
}

.CV-tooltip,.CV-display-container
{
position:relative
}
.CV-tooltip .CV-text
{
display:none
}
.CV-tooltip:hover .CV-text
{
display:inline-block
}

.CV-ripple:active
{
opacity:0.5
}
.CV-ripple
{
transition:opacity 0s
}

.CV-input
{
padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%
}

.CV-select
{
padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc
}

.CV-dropdown-click,.CV-dropdown-hover
{
position:relative;display:inline-block;cursor:pointer
}

.CV-dropdown-hover:hover .CV-dropdown-content
{
display:block
}

.CV-dropdown-hover:first-child,.CV-dropdown-click:hover
{
background-color:#ccc;color:#000
}

.CV-dropdown-hover:hover > .CV-button:first-child,.CV-dropdown-click:hover > .CV-button:first-child
{
background-color:#ccc;color:#000
}

.CV-dropdown-content
{
cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1
}

.CV-check,.CV-radio
{
width:24px;height:24px;position:relative;top:6px
}

.CV-sidebar
{
height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto
}

.CV-bar-block .CV-dropdown-hover,.CV-bar-block .CV-dropdown-click
{
width:100%
}

.CV-bar-block .CV-dropdown-hover .CV-dropdown-content,.CV-bar-block .CV-dropdown-click .CV-dropdown-content
{
min-width:100%
}

.CV-bar-block .CV-dropdown-hover .CV-button,.CV-bar-block .CV-dropdown-click .CV-button
{
width:100%;text-align:left;padding:8px 16px
}

.CV-main,#main
{
transition:margin-left .4s
}

.CV-modal
{
z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)
}

.CV-modal-content
{
margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px
}

.CV-bar
{
width:100%;overflow:hidden
}
.CV-center .CV-bar
{
display:inline-block;width:auto
}

.CV-bar .CV-bar-item
{
padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
}

.CV-bar .CV-dropdown-hover,.CV-bar .CV-dropdown-click
{
position:static;float:left
}

.CV-bar .CV-button
{
white-space:normal
}

.CV-bar-block .CV-bar-item
{
width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0
}

.CV-bar-block.CV-center .CV-bar-item
{
text-align:center
}
.CV-block
{
display:block;width:100%
}

.CV-responsive
{
display:block;overflow-x:auto
}

.CV-container:after,.CV-container:before,.CV-panel:after,.CV-panel:before,.CV-row:after,.CV-row:before,.CV-row-padding:after,.CV-row-padding:before,
.CV-cell-row:before,.CV-cell-row:after,.CV-clear:after,.CV-clear:before,.CV-bar:before,.CV-bar:after
{
content:"";display:table;clear:both
}

.CV-col,.CV-half,.CV-third,.CV-twothird,.CV-threequarter,.CV-quarter
{
float:left;width:100%
}

.CV-col.s1
{
width:8.33333%
}
.CV-col.s2
{
width:16.66666%
}
.CV-col.s3
{
width:24.99999%
}
.CV-col.s4
{
width:33.33333%
}

.CV-col.s5
{
width:41.66666%
}
.CV-col.s6
{
width:49.99999%
}
.CV-col.s7
{
width:58.33333%
}
.CV-col.s8
{
width:66.66666%
}

.CV-col.s9
{
width:74.99999%
}
.CV-col.s10
{
width:83.33333%
}
.CV-col.s11
{
width:91.66666%
}
.CV-col.s12
{
width:99.99999%
}

@media (min-width:601px)
{
.CV-col.m1
{
width:8.33333%
}
.CV-col.m2
{
width:16.66666%
}
.CV-col.m3,.CV-quarter
{
width:24.99999%
}
.CV-col.m4,.CV-third
{
width:33.33333%
}

.CV-col.m5
{
width:41.66666%
}
.CV-col.m6,.CV-half
{
width:49.99999%
}
.CV-col.m7
{
width:58.33333%
}
.CV-col.m8,.CV-twothird
{
width:66.66666%
}

.CV-col.m9,.CV-threequarter
{
width:74.99999%
}
.CV-col.m10
{
width:83.33333%
}
.CV-col.m11
{
width:91.66666%
}
.CV-col.m12
{
width:99.99999%
}

}

@media (min-width:993px)
{
.CV-col.l1
{
width:8.33333%
}
.CV-col.l2
{
width:16.66666%
}
.CV-col.l3
{
width:24.99999%
}
.CV-col.l4
{
width:33.33333%
}

.CV-col.l5
{
width:41.66666%
}
.CV-col.l6
{
width:49.99999%
}
.CV-col.l7
{
width:58.33333%
}
.CV-col.l8
{
width:66.66666%
}

.CV-col.l9
{
width:74.99999%
}
.CV-col.l10
{
width:83.33333%
}
.CV-col.l11
{
width:91.66666%
}
.CV-col.l12
{
width:99.99999%
}

}

.CV-rest
{
overflow:hidden
}
.CV-stretch
{
margin-left:-16px;margin-right:-16px
}

.CV-content,.CV-auto
{
margin-left:auto;margin-right:auto
}
.CV-content
{
max-width:980px
}
.CV-auto
{
max-width:1140px
}

.CV-cell-row
{
display:table;width:100%
}
.CV-cell
{
display:table-cell
}

.CV-cell-top
{
vertical-align:top
}
.CV-cell-middle
{
vertical-align:middle
}
.CV-cell-bottom
{
vertical-align:bottom
}

.CV-hide
{
display:none!important
}
.CV-show-block,.CV-show
{
display:block!important
}
.CV-show-inline-block
{
display:inline-block!important
}

@media (max-width:1205px)
{
.CV-auto
{
max-width:95%
}

}

@media (max-width:600px)
{
.CV-modal-content
{
margin:0 10px;width:auto!important
}
.CV-modal
{
padding-top:30px
}

.CV-dropdown-hover.CV-mobile .CV-dropdown-content,.CV-dropdown-click.CV-mobile .CV-dropdown-content
{
position:relative
}
	
.CV-hide-small
{
display:none!important
}
.CV-mobile
{
display:block;width:100%!important
}
.CV-bar-item.CV-mobile,.CV-dropdown-hover.CV-mobile,.CV-dropdown-click.CV-mobile
{
text-align:center
}

.CV-dropdown-hover.CV-mobile,.CV-dropdown-hover.CV-mobile .CV-btn,.CV-dropdown-hover.CV-mobile .CV-button,.CV-dropdown-click.CV-mobile,.CV-dropdown-click.CV-mobile .CV-btn,.CV-dropdown-click.CV-mobile .CV-button
{
width:100%
}

}

@media (max-width:768px)
{
.CV-modal-content
{
width:500px
}
.CV-modal
{
padding-top:50px
}

}

@media (min-width:993px)
{
.CV-modal-content
{
width:900px
}
.CV-hide-large
{
display:none!important
}
.CV-sidebar.CV-collapse
{
display:block!important
}

}

@media (max-width:992px) and (min-width:601px)
{
.CV-hide-medium
{
display:none!important
}

}

@media (max-width:992px)
{
.CV-sidebar.CV-collapse
{
display:none
}
.CV-main
{
margin-left:0!important;margin-right:0!important
}
.CV-auto
{
max-width:100%
}

}

.CV-top,.CV-bottom
{
position:fixed;width:100%;z-index:1
}
.CV-top
{
top:0
}
.CV-bottom
{
bottom:0
}

.CV-overlay
{
position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2
}

.CV-display-topleft
{
position:absolute;left:0;top:0
}
.CV-display-topright
{
position:absolute;right:0;top:0
}

.CV-display-bottomleft
{
position:absolute;left:0;bottom:0
}
.CV-display-bottomright
{
position:absolute;right:0;bottom:0
}

.CV-display-middle
{
position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}

.CV-display-left
{
position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)
}

.CV-display-right
{
position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)
}

.CV-display-topmiddle
{
position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)
}

.CV-display-bottommiddle
{
position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)
}

.CV-display-container:hover .CV-display-hover
{
display:block
}
.CV-display-container:hover span.CV-display-hover
{
display:inline-block
}
.CV-display-hover
{
display:none
}

.CV-display-position
{
position:absolute
}

.CV-circle
{
border-radius:50%
}

.CV-round-small
{
border-radius:2px
}
.CV-round,.CV-round-medium
{
border-radius:4px
}
.CV-round-large
{
border-radius:8px
}
.CV-round-xlarge
{
border-radius:16px
}
.CV-round-xxlarge
{
border-radius:32px
}

.CV-row-padding,.CV-row-padding>.CV-half,.CV-row-padding>.CV-third,.CV-row-padding>.CV-twothird,.CV-row-padding>.CV-threequarter,.CV-row-padding>.CV-quarter,.CV-row-padding>.CV-col
{
padding:0 8px
}

.CV-container,.CV-panel
{
padding:0.01em 16px
}
.CV-panel
{
margin-top:16px;margin-bottom:16px
}

.CV-code,.CV-codespan
{
font-family:Consolas,"courier new";font-size:16px
}

.CV-code
{
width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word
}

.CV-codespan
{
color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%
}

.CV-card,.CV-card-2
{
box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.CV-card-4,.CV-hover-shadow:hover
{
box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.CV-spin
{
animation:CV-spin 2s infinite linear
}
@keyframes CV-spin
{
0%
{
transform:rotate(0deg)
}
100%
{
transform:rotate(359deg)
}

}

.CV-animate-fading
{
animation:fading 10s infinite
}
@keyframes fading
{
0%
{
opacity:0
}
50%
{
opacity:1
}
100%
{
opacity:0
}

}

.CV-animate-opacity
{
animation:opac 0.8s
}
@keyframes opac
{
from
{
opacity:0
}
 to
{
opacity:1
}

}

.CV-animate-top
{
position:relative;animation:animatetop 0.4s
}
@keyframes animatetop
{
from
{
top:-300px;opacity:0
}
 to
{
top:0;opacity:1
}

}

.CV-animate-left
{
position:relative;animation:animateleft 0.4s
}
@keyframes animateleft
{
from
{
left:-300px;opacity:0
}
 to
{
left:0;opacity:1
}

}

.CV-animate-right
{
position:relative;animation:animateright 0.4s
}
@keyframes animateright
{
from
{
right:-300px;opacity:0
}
 to
{
right:0;opacity:1
}

}

.CV-animate-bottom
{
position:relative;animation:animatebottom 0.4s
}
@keyframes animatebottom
{
from
{
bottom:-300px;opacity:0
}
 to
{
bottom:0;opacity:1
}

}

.CV-animate-zoom 
{
animation:animatezoom 0.6s
}
@keyframes animatezoom
{
from
{
transform:scale(0)
}
 to
{
transform:scale(1)
}

}

.CV-animate-input
{
transition:width 0.4s ease-in-out
}
.CV-animate-input:focus
{
width:100%!important
}

.CV-opacity,.CV-hover-opacity:hover
{
opacity:0.60
}
.CV-opacity-off,.CV-hover-opacity-off:hover
{
opacity:1
}

.CV-opacity-max
{
opacity:0.25
}
.CV-opacity-min
{
opacity:0.75
}

.CV-greyscale-max,.CV-grayscale-max,.CV-hover-greyscale:hover,.CV-hover-grayscale:hover
{
filter:grayscale(100%)
}

.CV-greyscale,.CV-grayscale
{
filter:grayscale(75%)
}
.CV-greyscale-min,.CV-grayscale-min
{
filter:grayscale(50%)
}

.CV-sepia
{
filter:sepia(75%)
}
.CV-sepia-max,.CV-hover-sepia:hover
{
filter:sepia(100%)
}
.CV-sepia-min
{
filter:sepia(50%)
}

.CV-tiny
{
font-size:10px!important
}
.CV-small
{
font-size:12px!important
}
.CV-medium
{
font-size:15px!important
}
.CV-large
{
font-size:18px!important
}

.CV-xlarge
{
font-size:24px!important
}
.CV-xxlarge
{
font-size:36px!important
}
.CV-xxxlarge
{
font-size:48px!important
}
.CV-jumbo
{
font-size:64px!important
}

.CV-left-align
{
text-align:left!important
}
.CV-right-align
{
text-align:right!important
}
.CV-justify
{
text-align:justify!important
}
.CV-center
{
text-align:center!important
}

.CV-border-0
{
border:0!important
}
.CV-border
{
border:1px solid #ccc!important
}

.CV-border-top
{
border-top:1px solid #ccc!important
}
.CV-border-bottom
{
border-bottom:1px solid #ccc!important
}

.CV-border-left
{
border-left:1px solid #ccc!important
}
.CV-border-right
{
border-right:1px solid #ccc!important
}

.CV-topbar
{
border-top:6px solid #ccc!important
}
.CV-bottombar
{
border-bottom:6px solid #ccc!important
}

.CV-leftbar
{
border-left:6px solid #ccc!important
}
.CV-rightbar
{
border-right:6px solid #ccc!important
}

.CV-section,.CV-code
{
margin-top:16px!important;margin-bottom:16px!important
}

.CV-margin
{
margin:16px!important
}
.CV-margin-top
{
margin-top:16px!important
}
.CV-margin-bottom
{
margin-bottom:16px!important
}

.CV-margin-left
{
margin-left:16px!important
}
.CV-margin-right
{
margin-right:16px!important
}

.CV-padding-small
{
padding:4px 8px!important
}
.CV-padding
{
padding:8px 16px!important
}
.CV-padding-large
{
padding:12px 24px!important
}

.CV-padding-16
{
padding-top:16px!important;padding-bottom:16px!important
}
.CV-padding-24
{
padding-top:24px!important;padding-bottom:24px!important
}

.CV-padding-32
{
padding-top:32px!important;padding-bottom:32px!important
}
.CV-padding-48
{
padding-top:48px!important;padding-bottom:48px!important
}

.CV-padding-64
{
padding-top:64px!important;padding-bottom:64px!important
}

.CV-padding-top-64
{
padding-top:64px!important
}
.CV-padding-top-48
{
padding-top:48px!important
}

.CV-padding-top-32
{
padding-top:32px!important
}
.CV-padding-top-24
{
padding-top:24px!important
}

.CV-left
{
float:left!important
}
.CV-right
{
float:right!important
}

.CV-button:hover
{
color:#000!important;background-color:#ccc!important
}

.CV-transparent,.CV-hover-none:hover
{
background-color:transparent!important
}

.CV-hover-none:hover
{
box-shadow:none!important
}

/* Colors */
.CV-amber,.CV-hover-amber:hover
{
color:#000!important;background-color:#ffc107!important
}

.CV-aqua,.CV-hover-aqua:hover
{
color:#000!important;background-color:#00ffff!important
}

.CV-blue,.CV-hover-blue:hover
{
color:#fff!important;background-color:#2196F3!important
}

.CV-light-blue,.CV-hover-light-blue:hover
{
color:#000!important;background-color:#87CEEB!important
}

.CV-brown,.CV-hover-brown:hover
{
color:#fff!important;background-color:#795548!important
}

.CV-cyan,.CV-hover-cyan:hover
{
color:#000!important;background-color:#00bcd4!important
}

.CV-blue-grey,.CV-hover-blue-grey:hover,.CV-blue-gray,.CV-hover-blue-gray:hover
{
color:#fff!important;background-color:#607d8b!important
}

.CV-green,.CV-hover-green:hover
{
color:#fff!important;background-color:#4CAF50!important
}

.CV-light-green,.CV-hover-light-green:hover
{
color:#000!important;background-color:#8bc34a!important
}

.CV-indigo,.CV-hover-indigo:hover
{
color:#fff!important;background-color:#3f51b5!important
}

.CV-khaki,.CV-hover-khaki:hover
{
color:#000!important;background-color:#f0e68c!important
}

.CV-lime,.CV-hover-lime:hover
{
color:#000!important;background-color:#cddc39!important
}

.CV-orange,.CV-hover-orange:hover
{
color:#000!important;background-color:#ff9800!important
}

.CV-deep-orange,.CV-hover-deep-orange:hover
{
color:#fff!important;background-color:#ff5722!important
}

.CV-pink,.CV-hover-pink:hover
{
color:#fff!important;background-color:#e91e63!important
}

.CV-purple,.CV-hover-purple:hover
{
color:#fff!important;background-color:#9c27b0!important
}

.CV-deep-purple,.CV-hover-deep-purple:hover
{
color:#fff!important;background-color:#673ab7!important
}

.CV-red,.CV-hover-red:hover
{
color:#fff!important;background-color:#f44336!important
}

.CV-sand,.CV-hover-sand:hover
{
color:#000!important;background-color:#fdf5e6!important
}

.CV-teal,.CV-hover-teal:hover
{
color:#fff!important;background-color:#009688!important
}

.CV-yellow,.CV-hover-yellow:hover
{
color:#000!important;background-color:#ffeb3b!important
}

.CV-white,.CV-hover-white:hover
{
color:#000!important;background-color:#fff!important
}

.CV-black,.CV-hover-black:hover
{
color:#fff!important;background-color:#000!important
}

.CV-grey,.CV-hover-grey:hover,.CV-gray,.CV-hover-gray:hover
{
color:#000!important;background-color:#9e9e9e!important
}

.CV-light-grey,.CV-hover-light-grey:hover,.CV-light-gray,.CV-hover-light-gray:hover
{
color:#000!important;background-color:#f1f1f1!important
}

.CV-dark-grey,.CV-hover-dark-grey:hover,.CV-dark-gray,.CV-hover-dark-gray:hover
{
color:#fff!important;background-color:#616161!important
}

.CV-pale-red,.CV-hover-pale-red:hover
{
color:#000!important;background-color:#ffdddd!important
}

.CV-pale-green,.CV-hover-pale-green:hover
{
color:#000!important;background-color:#ddffdd!important
}

.CV-pale-yellow,.CV-hover-pale-yellow:hover
{
color:#000!important;background-color:#ffffcc!important
}

.CV-pale-blue,.CV-hover-pale-blue:hover
{
color:#000!important;background-color:#ddffff!important
}

.CV-text-amber,.CV-hover-text-amber:hover
{
color:#ffc107!important
}

.CV-text-aqua,.CV-hover-text-aqua:hover
{
color:#00ffff!important
}

.CV-text-blue,.CV-hover-text-blue:hover
{
color:#2196F3!important
}

.CV-text-light-blue,.CV-hover-text-light-blue:hover
{
color:#87CEEB!important
}

.CV-text-brown,.CV-hover-text-brown:hover
{
color:#795548!important
}

.CV-text-cyan,.CV-hover-text-cyan:hover
{
color:#00bcd4!important
}

.CV-text-blue-grey,.CV-hover-text-blue-grey:hover,.CV-text-blue-gray,.CV-hover-text-blue-gray:hover
{
color:#607d8b!important
}

.CV-text-green,.CV-hover-text-green:hover
{
color:#4CAF50!important
}

.CV-text-light-green,.CV-hover-text-light-green:hover
{
color:#8bc34a!important
}

.CV-text-indigo,.CV-hover-text-indigo:hover
{
color:#3f51b5!important
}

.CV-text-khaki,.CV-hover-text-khaki:hover
{
color:#b4aa50!important
}

.CV-text-lime,.CV-hover-text-lime:hover
{
color:#cddc39!important
}

.CV-text-orange,.CV-hover-text-orange:hover
{
color:#ff9800!important
}

.CV-text-deep-orange,.CV-hover-text-deep-orange:hover
{
color:#ff5722!important
}

.CV-text-pink,.CV-hover-text-pink:hover
{
color:#e91e63!important
}

.CV-text-purple,.CV-hover-text-purple:hover
{
color:#9c27b0!important
}

.CV-text-deep-purple,.CV-hover-text-deep-purple:hover
{
color:#673ab7!important
}

.CV-text-red,.CV-hover-text-red:hover
{
color:#f44336!important
}

.CV-text-sand,.CV-hover-text-sand:hover
{
color:#fdf5e6!important
}

.CV-text-teal,.CV-hover-text-teal:hover
{
color:#009688!important
}

.CV-text-yellow,.CV-hover-text-yellow:hover
{
color:#d2be0e!important
}

.CV-text-white,.CV-hover-text-white:hover
{
color:#fff!important
}

.CV-text-black,.CV-hover-text-black:hover
{
color:#000!important
}

.CV-text-grey,.CV-hover-text-grey:hover,.CV-text-gray,.CV-hover-text-gray:hover
{
color:#757575!important
}

.CV-text-light-grey,.CV-hover-text-light-grey:hover,.CV-text-light-gray,.CV-hover-text-light-gray:hover
{
color:#f1f1f1!important
}

.CV-text-dark-grey,.CV-hover-text-dark-grey:hover,.CV-text-dark-gray,.CV-hover-text-dark-gray:hover
{
color:#3a3a3a!important
}

.CV-border-amber,.CV-hover-border-amber:hover
{
border-color:#ffc107!important
}

.CV-border-aqua,.CV-hover-border-aqua:hover
{
border-color:#00ffff!important
}

.CV-border-blue,.CV-hover-border-blue:hover
{
border-color:#2196F3!important
}

.CV-border-light-blue,.CV-hover-border-light-blue:hover
{
border-color:#87CEEB!important
}

.CV-border-brown,.CV-hover-border-brown:hover
{
border-color:#795548!important
}

.CV-border-cyan,.CV-hover-border-cyan:hover
{
border-color:#00bcd4!important
}

.CV-border-blue-grey,.CV-hover-border-blue-grey:hover,.CV-border-blue-gray,.CV-hover-border-blue-gray:hover
{
border-color:#607d8b!important
}

.CV-border-green,.CV-hover-border-green:hover
{
border-color:#4CAF50!important
}

.CV-border-light-green,.CV-hover-border-light-green:hover
{
border-color:#8bc34a!important
}

.CV-border-indigo,.CV-hover-border-indigo:hover
{
border-color:#3f51b5!important
}

.CV-border-khaki,.CV-hover-border-khaki:hover
{
border-color:#f0e68c!important
}

.CV-border-lime,.CV-hover-border-lime:hover
{
border-color:#cddc39!important
}

.CV-border-orange,.CV-hover-border-orange:hover
{
border-color:#ff9800!important
}

.CV-border-deep-orange,.CV-hover-border-deep-orange:hover
{
border-color:#ff5722!important
}

.CV-border-pink,.CV-hover-border-pink:hover
{
border-color:#e91e63!important
}

.CV-border-purple,.CV-hover-border-purple:hover
{
border-color:#9c27b0!important
}

.CV-border-deep-purple,.CV-hover-border-deep-purple:hover
{
border-color:#673ab7!important
}

.CV-border-red,.CV-hover-border-red:hover
{
border-color:#f44336!important
}

.CV-border-sand,.CV-hover-border-sand:hover
{
border-color:#fdf5e6!important
}

.CV-border-teal,.CV-hover-border-teal:hover
{
border-color:#009688!important
}

.CV-border-yellow,.CV-hover-border-yellow:hover
{
border-color:#ffeb3b!important
}

.CV-border-white,.CV-hover-border-white:hover
{
border-color:#fff!important
}

.CV-border-black,.CV-hover-border-black:hover
{
border-color:#000!important
}

.CV-border-grey,.CV-hover-border-grey:hover,.CV-border-gray,.CV-hover-border-gray:hover
{
border-color:#9e9e9e!important
}

.CV-border-light-grey,.CV-hover-border-light-grey:hover,.CV-border-light-gray,.CV-hover-border-light-gray:hover
{
border-color:#f1f1f1!important
}

.CV-border-dark-grey,.CV-hover-border-dark-grey:hover,.CV-border-dark-gray,.CV-hover-border-dark-gray:hover
{
border-color:#616161!important
}

.CV-border-pale-red,.CV-hover-border-pale-red:hover
{
border-color:#ffe7e7!important
}
.CV-border-pale-green,.CV-hover-border-pale-green:hover
{
border-color:#e7ffe7!important
}

.CV-border-pale-yellow,.CV-hover-border-pale-yellow:hover
{
border-color:#ffffcc!important
}
.CV-border-pale-blue,.CV-hover-border-pale-blue:hover
{
border-color:#e7ffff!important
}
